  body {
    background:  url('https://i.pinimg.com/originals/a0/da/cb/a0dacbf4a4e06a776fa8e8a3cd6b24cc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
